<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="">
    
    {% block styles %}
    
    {% endblock styles %}


</head>

<body>
    {% include "navbar.html" %}

    {% block content %}
    

    {% endblock content %}

    <div id="logout-popup" class = 'popup-menu'>
        <p class = 'topic'>Logout User</p>
        <p><span style = "font-weight: 600; justify-content: center; align-items: center;">{{user.username}}</span>, <span style = "justify-content: center; align-items: center;">are you sure you want to logout</span></p>
        
        <div class = 'warning'>
            <p>Warning</p>
            <span>By logging out, you won't be able to access the system.</span>
        </div>
        <div class = 'buttons'>
            <a href='/' class = 'no-button'>No, Cancel</a>
            <a href='logout/' class = 'yes-button'>Yes, Logout</a>
        </div>
    </div>

</body>
</html>